.center-vertical{
    height:25%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 20px;
}

.center-vertical ion-input{
    width:100%;
    max-width: max-size;
}
